body{
    margin-left: 3rem;
    margin-right: 3rem;
}
.titles{
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.texts{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
}

.card-columns{
    display: inline-block;
}

.container-blog{
    margin-left: 3rem;
    margin-right: 3rem;
}