/* Contáctanos */
*{
    /* font-size: 2vw; */
    margin-top: 1px;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
}

.bg-imagecontacto {
    background-image: url(../src/images/FondodeHojas.png);
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-size: cover;
    background-position: center center;
}

.bg-imagecontacto2 {
    background-image: url(../src/images/FondodeHojas.png);
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-size: cover;
    background-position: center center;
}
.card-title {font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.txtNombre {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style:normal;
}

.boton {
    padding: .5rem 1rem;
    border-radius: 15px;
}
.boton:last-child {
    justify-content: end;
}

.btnEnviarClass {
    background-color: #7ba05b;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style:normal;
    border-radius: 10%;
    border:none;
    color: #FFFFFF;
    padding: 3px 10px;
}
.btnLimpiarClass{
    background-color: #7ba05b;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style:normal;
    border-radius: 10%;
    border:none;
    color: #FFFFFF;
    padding: 3px 10px;
    
}


.form-control, .form-select {
    background-color: #f7e7ce;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight:lighter;
    font-style:normal;
}

.contenedor{
    border: 1px solid #7ba05b;
    padding: 20px;
    border-radius: 20px;
}

.container {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: stretch;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}



#btn-foto{

    background-color: #7ba05b;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style:normal;
    border-radius: 20 px;
    border:none;
    color: #FFFFFF;
    padding: 3px 10px;
    text-align: center;
}