.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
 }

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social>a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  color: #f7e7ce;
  font-size: 20px;
  margin: 5px 5px;
  transition: all 0.6s ease-in-out;
  background: #7ba05b ;
  
  padding: 10px 20px;
  border-radius: 100px;
}

.footer-basic .social>a:hover {
  transform: translateY(-10px);
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.footer-basic {
  display: flex;
  position: relative;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  
}

.navbar-brand {
  font-family: "Abril Fatface", serif;

}

.body {
  background-color: #f2f3f4;

}
#lista {
  background-color: #f2f3f4;
  width: 100%;
  margin:0 0 20px;
  display: flex;
  justify-content: space-between;
  padding: 2%;
}
.nav-link{
  display: inline-block;
  position: relative;
}
.nav-link::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #7ba05b;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.7s ease-out;
}
.nav-link:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar-nav {
  font-family: "Quicksand", sans-serif;
}

#carrito {
  display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    color: #7ba05b;
    font-size: 25px;
    margin: 5px 5px;
    transition: all 0.6s ease-in-out;
    background: #f7e7ce;
    
    padding: 10px 20px;
    border-radius: 100px;
}
#carrito:hover {
  transform: translateY(-10px);
  
}

