p {
  /* Teléfono */
  font-size: 12px;
}

/* Tablet */
@media (min-width: 768px) {
.card-text {
  font-size: 22px;
}
}

/* Desktop */
@media (max-width: 1024px){
.card-text {
  font-size: 15px;
}
}

.Visión {
  background-color: #f7e7ce;
  padding: 20px;
}

.card {
  border: none;
  background-color: #f7e7ce;

}

@media (max-width: 767px) {
  .col-md-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

#primerImagen {
  display: flex;
  font-size: medium;
  align-items: center;
  justify-content: center;
}



.btnVisión {

  background-color: #7ba05b;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  border-radius: 10%;
  border: none;
  color: #FFFFFF;
  padding: 3px 10px;
}

#cuerpo {
  background-color: #7ba05b;
  display: flex;
  flex-direction: row;
  padding: 20px;
}

#titulo {
  padding: 50px;
  font-family: "Alata";
  text-align: center;
}

.ctext {
  text-align: justify;
  padding: 20px;
}

.card-img-top {
  width: 400px;
}

#cajitas {
  background-color: #fefefe;
  width: 500px;
  height: 100px;
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  font-family: "bellota";



  border-width: 1px 4px 8px;

}


.columna-con-linea {
  border-right: 1px solid #000;
  padding-top: 3%;
  display: table-cell;
  vertical-align: middle;

  padding-right: 5px;

}


.columna-con-linea:last-child {
  border-right: none;
}

#pal {
  display: flex;
  font-size: medium;
  align-items: center;
  justify-content: center;

}

.IMGFAVORITOS img {
  max-width: 100%; 
  height: auto;
}

#LLEGADOS{
  font-size: 30px;
  color: #7ba05b;
}

.card {
  border: none;
}

#txtLosFavoritos {
  display: flex;
  align-items: center;
}

#losFavoritosCard {
  background-color: #f7e7ce;
}

#btnComprar {
  background-color: #7ba05b;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  border: none;
  color: #FFFFFF;
}