.titles, h4, h2{
  font-family: "Bellota", system-ui;
  font-weight: 700;
  font-style: normal;
}*/

.texts {
  /* Teléfono */
  font-size: 20px;
}

/* Tablet */
@media (min-width: 768px) {
  .card-text {
    font-size: 25px;
  }
}

/* Desktop */
@media (max-width: 1024px) {
  .card-text {
    font-size: 15px;
  }
}

.titles2{
  font-family: "Alata", sans-serif;
  color: #7ba05b;
  font-weight: 400;
  font-style: normal;
}

.titles3{
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titles4 {
  font-family: "Alata", sans-serif;
  color: white;
  font-weight: 400;
  font-style: normal;
} 

.btnVerMas{
  text-align: center;
  margin-top: 0;
}

.background-video {
  z-index: -2;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.background-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  border-radius: 15px;
}

.content {
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 13%;
  /* margin-bottom: 2%; */
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  padding-left: 15px;
}

.card {
  position: relative;
  border: none;
  background-color:transparent;
}

.btnPage {
  position: relative;
  background-color: #7ba05b;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  padding: 1.5% 5%;
  align-items: center;
  min-width: 120px;
  
  background-color: #7ba05b;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    border: none;
    color: #FFFFFF;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}


#contMejorTienda {
  z-index: -2;
  background-color: #7ba05b;
  display: flex;
  flex-direction: column;
  padding: 30px;
  min-width: 100%;
  align-items: center;

}
.imagen-izquierda {
  margin: 10%;
  width: 100%;
  max-width: 100%;
}

.columna-con-linea {
  padding: 10px;
  text-align: center;
  flex-grow: 1;
}
#boxMejorTienda {
  z-index: 2;
  float: right;
  margin-top: -2em;
  align-self: center;
  background-color: white;
  box-shadow: 20px 20px 15px;
}

.columna-con-linea {
  border-right: 2px solid #000;
  padding: 10px;
  text-align: center;
  flex-grow: 1;
}

.columna-con-linea::before,
.columna-con-linea::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #000;
  top: 0;
}

.columna-con-linea::before {
  left: 0;
}

.columna-con-linea::after {
  right: 0;
}

#favoritosCarousel{
  margin-bottom: 10px;
}
#txtLosFavoritos {
  padding: 20px;
  display: flex;
  align-items: center;
}

#losFavoritosCard {
  background-color: #f7e7ce;
  border-radius: 20px;
}

#btnComprar {
  background-color: #7ba05b;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  border: none;
  color: #FFFFFF;
}

#contOferta {
  padding: 20px;
  margin-left: 1rem;
}

.oferta {
  background-color: #7ba05b;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
}

.card-oferta>a{
  display:flex;
  justify-content: center;
}
.imagen-oferta{
  display: flex;
  justify-content:center;
}

.imagen-oferta>img{
  max-width: 90%;
  max-height: 90%;
  display: flex;
  margin: 1rem 1rem;
}
.container-cuenta{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.countdown{
  display:flex;
  justify-content: space-evenly;
  width:100%;
  flex-wrap: wrap;
}

.countdown div{
  display: flex;
  justify-content: center;
  padding:10px;

}

.countdown p{
  display: flex;
  justify-content: center;
  border: solid 1px #fefefe;
  height: 50px;
  width: 50px;
  color:#000;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  background-color: #fefefe;
  border-radius: 10px;
  align-items: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.719);
}

.countdown span{
  display: block;
  padding: 10px;
  text-align: center;
  color: #000;
  font-family: "Quicksand", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;

}

#btnOferta {
  background-color: black;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  padding: 1.5% 5%;
  align-items: center;
  min-width: 120px;
  
  background-color: black;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    border: none;
    color: #FFFFFF;
}