*{
    margin:0;
    padding: 0;
}
body{
    margin-left: 2rem;
    margin-right: 2rem;
}
/* Teléfono */
.card-text {
    font-size: 15px;
}

/* Tablet */
@media (min-width: 768px) {
.card-text {
    font-size: 20px;
}
}

/* Desktop */
@media (max-width: 1024px){
.card-text {
    font-size: 22px;
}
}
/* Teléfono */
li {
    font-size: 15px;
}

/* Tablet */
@media (min-width: 768px) {
li {
    font-size: 20px;
}
}

/* Desktop */
@media (max-width: 1024px){
li {
    font-size: 22px;
}
}

h1, h5 {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

p {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.profile-area{
    padding: 80px 0;
}
.section-title{
    margin-top: 80px;
}
.section-title h2{
    font-size: 50px;
}
.card{
    box-shadow: 0 0 30px rgba(0,0,0,0.1);;
    overflow: hidden;
    border: none;
    border-radius: 20px;
    background: #f7e7ce;
    
    margin-bottom: 30px;
}

.card img {
    height: 100%;
    object-fit: cover;
  }


.img2 img{
    height: 200px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
}
.img1 img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid#dddd;;
    margin-top: -100px;
}

.main-text{
    padding: 30px 0;
    text-align: center;
}
.main-text h2{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    margin: 0 0 20px;
}

.main-text span{
    display: block;
    font-size: 20px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}

.main-text p{
    font-size: 16px;
    padding: 0 35px;
}
.underline{
    display: inline-block;
    position: relative;
    
}
.underline::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #7ba05b;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.7s ease-out;
}
.underline:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.sociales{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sociales a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background: #f7e7ce;
}
.sociales a i{
    color: #7ba05b;
    font-size: 50px;
    margin: 0 2px;
}
.sociales a:hover{
    background: #7ba05b;
}
.sociales a:hover i{
    color: #f7e7ce;
}
.sociales a+a{
    margin-left: 8px;
}

.section-title{
    text-align: center;
    padding-bottom: 30px;
}

.card-uno {
    width: 100%;
    max-width: 800px; /* Ajusta según tus necesidades */
    margin: auto; /* Centra la tarjeta en la pantalla */
}


.card-uno img {
    border-radius: 8px;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1) ;
    
}


.card-body-uno p {
    padding-left: 1%;
    padding-right: 5%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:start;
}

.row.g-3 {
    background-color: #F2F3F4;
   
}

#card-uno {
    margin-bottom: 30px; /* Ajusta según tus necesidades */
}

#footer {
    margin-top:120px; /* Ajusta según tus necesidades */
}
